@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --cor-primaria: #E9BEFC;
    --cor-secundaria: #FDB7EA;
    --cor-fundo: #000212;
}
* {
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
    background-color:var(--cor-fundo);
    color: var(--cor-primaria);
}

.cabecalho {
    padding: 2% 0 0 15%;
    
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__link {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--cor-primaria);
    text-decoration: none;
}


.apresentacao__titulo {
    font-family: "Krona One", sans-serif;
    font-size: 2.25rem;
}
.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}
.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.titulo-destaque {
    color: var(--cor-secundaria);
}
.apresentacao__conteudo__texto {
    font-family: "Montserrat", sans-serif;
    font-size: 1.25rem;
}
.apresentacao__conteudo__links {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.apresentacao__conteudo__links__subtitulo {
    font-family: "Krona One", sans-serif;
    font-size: 1.25rem;
    font-weight: 400px;
}
.apresentacao__conteudo__links__navegacao {
    /* background-color: #E9BEFC; */
    border-style: solid;
    border-color: var(--cor-secundaria);
    border-width: 2px;
    gap:16px;
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 21.5px 0px;
    text-decoration: none;
    color: var(--cor-primaria);
    font-family: "Montserrat", sans-serif;
}
.apresentacao__conteudo__links__navegacao:hover {
    background-color: var(--cor-secundaria);
    color: var(--cor-fundo);
    transition: 0.3s;
}
.rodape {
    padding:24px;   
    background-color: var(--cor-primaria);
    color: var(--cor-fundo);
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1.25rem;
}
.apresentacao__imagem {
    width: 50%;
   border-radius: 50%;
   width: 400px;
 
}

@media (max-width:1200px) {
 
       .cabecalho {
        padding: 6%;
    }

    .cabecalho__menu {
        justify-content: center;   
    }

    .cabecalho__link {
       font-size: 0.875rem;
    }
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }
   
    .apresentacao__imagem {
        padding: 2%;
        width: 80%;
    }

}
